body,html{
  position: absolute;
  left:0;
  top: 0;
  right: 0;
  bottom: 0;
  padding:0;
  margin:0;
  background-color: black;
}
#tab1.panel{
  background-image: url("../img/1.jpg");
}
#tab1 > .content > .tutorial, #tab2 > .content > .tutorial{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 6;
}
#tab1 > .content > .tutorial > .description, #tab2 > .content > .tutorial > .description{
  top: 40%;
  position: relative;
  z-index: 6;
  text-align: center;
  color: white;
}
#tab1 > .content > .tutorial > .image, #tab2 > .content > .tutorial > .image{
  position: relative;
  z-index: 6;
  margin: 0 auto;
  top: 45%;
  background-repeat: no-repeat;
}
#tab1 > .content > .tutorial > .swipe{
  width: 90px;
  height: 110px;
  background-image: url("../img/swipe.png");
}
#tab2 > .content > .tutorial > .scroll{
  width: 68px;
  height: 133px;
  background-image: url("../img/scroll.png");
}
#tab2.panel{
  background-image: url("../img/2.jpg");
}
#tab3.panel{
  background-image: url("../img/asano.jpg");
}
#tab4.panel{
  background-image: url("../img/ishioka.jpg");
}
#tab5.panel{
  background-image: url("../img/imai.jpg");
}
#tab6.panel{
  background-image: url("../img/ohta.jpg");
}
#tab7.panel{
  background-image: url("../img/kageyama.jpg");
}
#tab8.panel{
  background-image: url("../img/satoh.jpg");
}
#tab9.panel{
  background-image: url("../img/sawada.jpg");
}
#tab10.panel{
  background-image: url("../img/suzuki.jpg");
}
#tab11.panel{
  background-image: url("../img/nakama.jpg");
}
#tab12.panel{
  background-image: url("../img/nishimura.jpg");
}
#tab13.panel{
  background-image: url("../img/hata.jpg");
}
#tab14.panel{
  background-image: url("../img/aiga.jpg");
}
#tab15.panel{
  background-image: url("../img/azusa.jpg");
}

#tab16.panel{
  background-image: url("../img/harada.jpg");
}

#tab17.panel{
  background-image: url("../img/hino.jpg");
}

#tab18.panel{
  background-image: url("../img/humino.jpg");
}

#tab19.panel{
  background-image: url("../img/hurumoto.jpg");
}

#tab20.panel{
  background-image: url("../img/hosokawa.jpg");
}

#tab21.panel{
  background-image: url("../img/horie.jpg");
}

#tab22.panel{
  background-image: url("../img/horisawa.jpg");
}

#tab23.panel{
  background-image: url("../img/matuo.jpg");
}

#tab24.panel{
  background-image: url("../img/mori.jpg");
}

#tab25.panel{
  background-image: url("../img/moriyama.jpg");
}

#tab26.panel{
  background-image: url("../img/yamamoto.jpg");
}

#tab27.panel{
  background-image: url("../img/yokosuka.jpg");
}
.active{
  display: block !important;
}
.panel{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display:none;
}
.content{
  position: relative;
  width: 100%;
  height: 100%;
}
.senpai{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 80%;
  height: auto;
  z-index: 6;
  margin: 0 auto;
  color: white;
  font-size: 18px;
  bottom: 0;
  box-sizing: border-box;
  margin: 5% 10%;
}
.name:before{
  content: "名前　：";
}
.name__yomi:before{
  content: "読み方：";
}
.name__adana:before{
  content: "あだ名：";
}
.part:before{
  content: "パート：";
}
.tel:before{
  content:"TEL：";
}
.line:before{
  content:"LINE ID：";
}
.email:before{
  content:"Email：" ;
}
.band:before{
  content:"好きなバンド：";
}

.smoke{
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
}

/*---------------*/
.wrap{
  z-index: 5;
  width: 100%;
  position: fixed;
}

.main-tabs{
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  font-size: 20px;
  color: rgb(134, 132, 132);
  font-family: monospace;
  font-weight: bold;
}
@media screen and (max-width: 860px){
  .main-tabs{
    font-size: 14px;
  }
}
@media screen and (max-width: 560px){
  .main-tabs{
    font-size: 8px;
  }
}
.main-tabs > .tab-content{
  display: table;
  margin: 0 auto;
  width: 100%;
  height:auto;
  text-align: center;
  cursor: pointer;
}
.tab-content > .tab{
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
}
.tab > .tabname{
  background-color: transparent;
  padding-bottom: 2px;
}
.tab:hover > .tabname{
  padding-bottom: 0px;
  margin-bottom: 2px;
}

/*---------------*/

